[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0"
pyramid-basemodel = "==0.6.0"
"zope.sqlalchemy" = "==1.6"
pyramid-mako = "==1.1.0"
babel = "==2.11.0"
pycountry = "==22.3.5"

[dev-packages]
pycodestyle = "==2.10.0"
pydocstyle = "==6.3.0"
pylint = "==2.16.0"
black = "==23.1.0"
pytest = "==7.2.1"
pytest-pyramid = "==1.0.2"
pytest-cov = "==4.0.0"
mock = "==5.0.1"
towncrier = "==22.12.0"
tbump = "==6.9"
