[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
pyramid-basemodel = "==0.6.0"
"zope.sqlalchemy" = "==1.6"
pyramid-mako = "==1.1.0"
babel = "==2.12.1"
pycountry = "==22.3.5"

[dev-packages]
pycodestyle = "==2.11.0"
pydocstyle = "==6.3.0"
pylint = "==2.17.7"
black = "==23.9.1"
pytest = "==7.4.2"
pytest-pyramid = "==1.0.2"
pytest-cov = "==4.1.0"
mock = "==5.1.0"
towncrier = "==23.6.0"
tbump = "==6.11.0"
