[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
pyramid-basemodel = "==0.7.0"
"zope.sqlalchemy" = "==4.1"
pyramid-mako = "==1.1.0"
babel = "==2.18.0"
pycountry = "==26.2.16"
setuptools = "<82.0.0"

[dev-packages]
pytest = "==9.0.2"
pytest-pyramid = "==1.1.0"
pytest-cov = "==7.0.0"
mock = "==5.2.0"
towncrier = "==25.8.0"
tbump = "==6.11.0"
