# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==5.5 # pytest-cov
pyramid==2.0
pyramid-basemodel==0.5.0; python_version>='3.7'
zope.sqlalchemy==1.4
pyramid_mako==1.1.0
babel==2.9.0
pycountry==20.7.3
pytest==6.2.3
pytest-pyramid==1.0.0
pytest-cov==2.11.1
mock==4.0.3
-e .[tests,babel]
