# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==5.3 # pytest-cov
pyramid==1.10.4
tzf.pyramid-yml==2.0.0
pyramid-basemodel==0.3.7
zope.sqlalchemy==1.1.0
pyramid_mako==1.1.0
babel==2.8.0
pycountry==20.7.3
pytest==6.1.1
pytest-pyramid==0.3.3
pytest-cov==2.10.1
mock==4.0.2
-e .[tests]
