# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==4.2 # pytest-cov
pylama==7.0.9
pep8==1.7.0
pyflakes==1.2.3
mccabe==0.5.2
pep257==0.7.0
pyramid==1.7.1
tzf.pyramid-yml==1.1.0
pyramid-basemodel==0.3.6
pyramid_mako==1.0.2
babel==2.3.4
